@model BookStore.Models.Player
    @{ 
        ViewBag.Title = "Добавление игрока";
        Layout = null;
    }
<h2>Добавление нового игрока</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Футболист</legend>
        <p>Имя игрока
        <br />
        @Html.EditorFor(model=>model.Name)
        </p>
        <p>Возраст
            <br />
        @Html.EditorFor(model=>model.Age)
        </p>
        <p>Позиция
            <br />
        @Html.EditorFor(model=>model.Position)
        </p>
        <p>Команда
        <br />
        @Html.DropDownListFor(model=>model.TeamID,ViewBag.Team as SelectList)

        </p>
        <p>
            <input type="submit" value="Добавить" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Список игроков","Index")
</div>