@model BookStore.Models.Player
    @{ 
        Layout = null;
        ViewBag.Title = "EditPlayer";
    }
<h2>Редактирование игрока</h2>
@using (Html.BeginForm())
{
    <Fieldset>
        <legend>Футболист</legend>
        @Html.HiddenFor(model => model.ID)
        <p>Имя игрока
        <br />
        @Html.EditorFor(model=>model.Name)
        </p>
        <p>Возраст
        <br />
        @Html.EditorFor(model=>model.Age)
        </p>
        <p>Позиция
        <br />
        @Html.EditorFor(model=>model.Position)
        </p>
        <p>Команда
        <br />
        @Html.DropDownListFor(model=>model.TeamID,ViewBag.Team as SelectList)
        </p>
        <p>
            <input type="submit" value="Редактировать" />
        </p>
    </Fieldset>
}
<p>@Html.ActionLink("К списку","Index")
</p>
